<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{HH:mm:ss, +10}] [%thread] [%logger{36}] %level - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE-OUT" class="ch.qos.logback.core.FileAppender">
        <file>./logs/Maika.out.log</file>
        <append>false</append>
        <encoder>
            <pattern>[%d{HH:mm:ss, +10}] [%thread] [%logger{36}] %level - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE-OUT"/>
    </root>
</configuration>