@import url("https://fonts.googleapis.com/css?family=Pacifico|Raleway");

/* Application */
body#app {
    margin-top: 100px;
}

/* Image */
image.circle {
    border: 5px solid #E67EDE;
    border-radius: 50%;
}

/* White Text */
.white-text {
    color: #FFFFFF;
}

/* h1 Format */
h1.format {
    font-family: 'Pacifico' cursive;
    font-size: 120px;
}

/* Paragraph Format */
p.format {
    font-family: 'Raleway' sans-serif;
    font-size: 120px;
}