<!DOCTYPE html>
<html>
    <head>
        <title><%= user.username %>#<%= user.discriminator %> &bull; Statistics</title>
        <link rel="stylesheet" href="css/minified/bootstrap.min.css" />
        <link rel="stylesheet" href="css/mafuyu.css" />
        <link rel="icon" href="<%= user.avatarURL %>" />
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
    </head>
    <body id="app">
        
    </body>
</html>